.pdfBorder {
    position: relative;
    width: 612px;
    height: 792px;
    margin: auto;


    border-style: solid;
    border-color: lightgrey;
    border-width: thin;

}

.pdfHeader {
    position: relative;
    width: inherit;
    height: 108px;
    background-color: #F4F0DE;

    border-style: none;
    border-color: blue;
    border-width: thin;
}

.headerName {
    position: relative;
    float: left;
    width: 180px;
    margin-top: 18px;
    left: 18px;

    border-color: orange;
    border-style: none;
    border-width: thin;

}

.headerContact {
    position: relative;
    float: right;
    width: 180px;
    height: 72px;
    margin-top: 18px;

    border-color: orange;
    border-style: none;
    border-width: thin;

}

.contactItem {
    position: relative;
    margin-bottom: 3px;
}

.itemSymbol {
    overflow: hidden;
    position:relative;
    display: inline-block;
    text-align: center;
    line-height: 21px;

    width: 18px;
    height: 18px;
    border-color: #4F81BD;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}

.itemSymbol .material-icons {
    font-size: 13px;
    color: #4F81BD;
}

#phoneSymbol {
    font-weight: bold;
    top: 1px;
}

.itemText {
    overflow: hidden;
    position:relative;
    display: inline-block;
    height: 18px;

    font-size: 9px;
    line-height: 18px;
    font-family: 'Bitter', serif;
    color: #666666;

}

.headerCircles {
    position: relative;
    width: 207px;
    height: 99px;
    margin: 0px auto;
    top: 9px;

    border-style: none;
    border-color: blue;
    border-width: thin;
}

.leftCircle {
    position: relative;
    float: left;
    top: 18px;

    border-style: none;
    border-color: red;
    border-width: thin;
}

.rightCircle {
    position: relative;
    float: right;
    top: 18px;

    border-style: none;
    border-color: pink;
    border-width: thin;
}

.centerCircle {
    position: relative;
    margin: 0 auto;

    border-color: green;
    border-width: thin;
    border-style: none;
}


.mainCircle {
    position: relative;
    width: 72px;
    height: 72px;
    background-color: white;
    margin: auto;

    border-color: #4F81BD;
    border-style: solid;
    border-width: 2.25px;
    border-radius: 100%;

    font-size: 36px;
    font-family: 'Bitter',serif;
    text-align: center;
    color: #4F81BD;
    line-height: 72px;
}

.sideCircle {
    position: relative;
    width: 54px;
    height: 54px;
    background-color: white;
    margin: auto;

    border-color: #4F81BD;
    border-style: solid;
    border-width: 2.25px;
    border-radius: 100%;

    font-size: 24px;
    font-family: 'Bitter',serif;
    text-align: center;
    color: #4F81BD;
    line-height: 54px;
}

.circleText {
    position: relative;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    color: #666666;
}


.pdfBody {
    position: relative;
    width: inherit;
    height: 684px;

    border-style: none;
    border-color: green;
    border-width: thin;

}

.leftCol {
    position: relative;
    width: 270px;
    height: 432px;
    top: 12px;
    left: 18px;
    float: left;

    border-color: red;
    border-width: thin;
    border-style: none;


}

.centerDivide {
    position: relative;
    width: 1.5px;
    height: 387px;
    top: 45px;
    background-color: #9BBB59;
    margin: 0 auto;

    border-color: green;
    border-width: thin;
    border-style: none;
}

.rightCol {
    position: relative;
    width: 270px;
    height: 432px;
    top: 12px;
    right: 18px;
    float: right;

    border-color: purple;
    border-width: thin;
    border-style: none;

}

.bottomRow {
    position: relative;
    clear: both;
    width: 576px;
    height: 198px;
    top: 12px;
    left: 18px;

    border-color: teal;
    border-width: thin;
    border-style: none;
}

.expSection {
    position: relative;
    width: inherit;
    margin-bottom: 9px;

    border-color: green;
    border-width: thin;
    border-style: none;
}

.sectionTitle {
    font-size: 14px;
    font-family: 'Zilla Slab', serif;
    color: #4F81BD;
    padding-bottom: 2px;
    margin-bottom: 9px;

    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}

.roleItem {
    position: relative;
    margin-bottom: 9px;

    border-color: blue;
    border-width: thin;
    border-style: none;
}

.roleSymbol {

    position:relative;
    display: inline-block;
    top: 2px;
    text-align: center;
    line-height: 12px;

    width: 12px;
    height: 12px;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}

.roleSymbol .material-icons {
    font-size: 10px;
    color: #666666;
    font-weight: bold;

}

.roleText {
    position:relative;
    display: inline-block;
    width: 159px;
    margin-bottom: 3px;

    font-size: 11px;
    font-family: 'Bitter', serif;
    color: #666666;

    border-color: #666666;
    border-style: none;
    border-width: thin;
}

.roleText span {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
}

.roleTag {
    position: relative;
    padding-left: 18px;

    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    color: #0a0a0a;
    margin-bottom: 3px;

    border-color: blue;
    border-width: thin;
    border-style: none;

}

.tagName {
    position:relative;
    display: inline-block;
    width: 108px;

    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    color: #0a0a0a;

    border-color: blue;
    border-width: thin;
    border-style: none;

}

.tagName span {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
}

.tagScore {
    position:relative;
    display: inline-block;
    width: 63px;
    text-align: right;

    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    color: #0a0a0a;

    border-color: green;
    border-width: thin;
    border-style: none;
}

.relativeScore {
    position:relative;
    display: inline-block;
    width: 72px;
    text-align: right;

    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    color: #0a0a0a;
    font-weight: bold;

    border-color: green;
    border-width: thin;
    border-style: none;
}

svg {
    position:relative;
    display: inline-block;
    width: 138px;
    height: 12px;
    top: 2px
}

.poolBar {
    height: 12px;

    fill: #dfdfdfdf;

}

.candidateBar {
    height: 4px;
    y:4px;

    fill: #9BBB59;
}

.poolAvg {
    height: 8px;
    fill: #4F81BD;
    width: 2px;
    y: 2px;
}

.expSection {
    position: relative;
    width: inherit;
    margin-bottom: 9px;

    border-color: green;
    border-width: thin;
    border-style: none;
}

.sectionTitle {
    font-size: 14px;
    font-family: 'Zilla Slab', serif;
    color: #4F81BD;
    padding-bottom: 2px;
    margin-bottom: 9px;

    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}

.expRecord {
    position: relative;
    width: inherit;
    min-height: 36px;
    padding-left: 3px;
    margin-bottom: 12px;

    border-left-color: #9BBB59;
    border-left-style: solid;
    border-left-width: 1.5px;

}

.recName {
    font-size: 11px;
    font-family: 'Bitter', serif;
    color: #0a0a0a;
}

.recExperience {
    font-size: 11px;
    font-family: 'Bitter', serif;
    color: #666666;
}
.recText {
    width: 97%;
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    color: #0a0a0a;
    margin-top: 3px;
}
