.pdfBorder {
    position: relative;
    width: 612px;
    height: 792px;
    margin: auto;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
}

.pdfHeader {
    position: relative;
    width: inherit;
    height: 108px;
    background-color: #F4F0DE;
}

.profileBox {
    position: relative;
    height: 32px;
    width: 216px;
    background-color: #9BBB59;
    margin: auto;
    top: 12px;

    text-align: center;
    line-height: 32px;
    font-family: Bitter;
    font-size: 14px;
    color: white;
}

.pdfBody {
    position: relative;
    width: inherit;
    height: 684px;
}

.headerCircle {
    position: relative;
    width: 72px;
    height: 72px;
    border-color: #4F81BD;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    top: 18px;
    left: 18px;
}

.mainCol {
    position: relative;
    width: 378px;
    height: 657px;
    border-color: lightgrey;
    border-width: thin;
    border-style: solid;
    top: 18px;
    left: 18px;
    float: left;

}
.sideCol {
    position: relative;
    width: 180px;
    height: 657px;
    border-color: lightblue;
    border-width: thin;
    border-style: solid;
    top: 18px;
    right: 18px;
    float: right;
}

.expSection {
    position: relative;
    width: inherit;
    min-height: 30%;
    /*
    border-color: green;
    border-width: thin;
    border-style: solid;
    */
    margin-bottom: 9px;
}

.sectionTitle {
    font-size: 14px;
    font-family: Bitter;
    color: #4F81BD;
    padding-bottom: 2px;
    margin-bottom: 9px;

    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

.expRecord {
    position: relative;
    width: inherit;
    min-height: 72px;
    padding-left: 2px;
    margin-bottom: 9px;

    border-left-color: #9BBB59;
    border-left-style: solid;
    border-left-width: medium;

}
